@charset "utf-8";

.container {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0.5em 0 0 0;
	width: 1200px;s
}

.lateral {
    float: left;
    width: 30%;
    text-align: center;
}

.lateral-view {
	width: 100%;
	text-align: center;
}

.foto {
    background: url("/static/img/img.jpg") no-repeat;
	background-size: 160px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
}

.twittar {
    float: left;
    width: 70%;
}

.timeline {
    width: 100%;
    height: auto;
}

.posts {
    height: 140px;
    width: 50%;
    margin: 0 auto;
    padding: 10px 0;
    border-bottom: 1px solid #0066a0;
}

.posts:last-of-type {
    border: none;
}

.posts .foto {
    float: left;
    background: url("/static/img/img.jpg") no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 1em;
    border-radius: 50%;
}

.post {
    width:  70%;
    float: left;
    padding-left: 2em;
}

/* TOPO */
.topo {
    background: #0066a0;
    height: 50px;
}

.topo a {
    color: #FFF;
}

.topo a:hover {
    color: #000;
    text-decoration: none;
}

/* MEDIA MAX 1199px */
@media screen and (max-width: 1199px) {
	.container {
		max-width: 700px;
		width: 700px;
	}

    .lateral {
        width: 100%;
    }

	.lateral-view {
		width: 100%;
	}

    .twittar {
        float: left;
        width: 100%;
    }

    .posts {
        width: 100%;
        margin: 0 auto;
        height: 200px;
    }
}

/* MEDIA MAX 767px */
@media screen and (max-width: 767px) {
	.container {
		max-width: 300px;
		width: 300px;
	}
}
